*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #0F1910;
}
/* header style */
#shop-header{
    width:100%;
    height: 600px;
    background-image: url(../mainShop/imagine/mainimage.png);
    background-position:center;
    background-size:cover;
    position: relative;
}

#Logo{
    font-family:"Mistral";
    letter-spacing: 3px;
    font-size: 50px;
    min-width: 160px;
}

#Logo:hover{
    border-radius: 10%;
    animation-name: Logo;
    animation-duration: 3s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes Logo {
    90%{
        transform: scaleX(1);
    }

    100%{
        transform: scaleX(1.1);
    }
}



#nav{
    z-index: 1;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:20px 50px ;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

#nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#nav ul li {
  position: relative;
  padding: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#nav ul li:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: rgb(255, 0, 200);
    transition: 0.5s;
    overflow: hidden;
    
}

#nav ul li:hover:after{
    width: 100%;
}

#nav a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

#menuBar{
    z-index: -1;
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 50px;
    min-height: 100px;
    text-align: center;
    background: #070000f5;
    min-width: 500px;
    display: block;
    color: #ff2a05;
    font-size: 25px;
}

#menubarDisplaynone{
    display: none;
}


#buttonSearch{
    background:transparent;
}

#menuicon{
    border-radius: 5px;
    width: 50px;
    background-color: white;
    display: none;
}


#form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputSearch {
    display: none;
}

#TurnOnInputSearch {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    right: 70px;
    width: 200px;
    border-radius: 90px;
    font-size: 20px;
    text-align:center;
    font-style: italic;
    display: flex;
}










/* central text */
#centrtextdiv{
    position: relative;
    padding: 50px;
    width: 100%;
    height:60%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
}

#centrtextdiv h2 {
    color: lightcyan;
    font-family: "cursive";
    font-size:  50px;
    text-align: center;

}

#centrtextdiv h1 {
    color: lightcyan;
    font-size: 65px;
    letter-spacing: 40px;
}





/* social sites icon */
#iconsocialsitediv{
    float: right;
}
.icon{
    margin: 30px;
    display: block;
}





/* icon drop down */
#linedown{
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#mainline{
    width: 100%;
    display: flex;
    justify-content: center;
}

.line{
    width: 70px;
    height: 5px;
    margin: 0 5px;
    border-radius: 100px;
    background-color: rgba(255, 9, 202, 0.315);
}







#main {
    background-color: #0F1910;
    margin: 20px 0px;
}
/* one section data */

#one-section {
    width: 100%;
    background-color: #FAE3E3;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#child1 {
    /* padding-top: 50px; */
    overflow: hidden;
    width: 400px;
    height: 300px;
    position: relative;
}

#child1 h2 {
    text-align: center;
    font-family:cursive;
    width: 100%;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #C6006B;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#reklamimg {
    cursor: pointer;
    transition: 2s;
    width:100%;
    height: 100%;
}

#reklamimg:hover {
    transform: scale(1.05);
}

.child2 {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.child2 h2 {
    text-align: center;
    font-family:cursive;
    width: 100%;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #C6006B;
}

.child2 p {
    font-family: Century Gothic;
    font-size: 20px;
    font-style: oblique;
    text-align: center;    
}

.child2 span {
    color:violet;
    font-size: 30px;
}

.child2  button {
    width: 250px;
    padding: 15px 0px;
    background:transparent;
    border-radius: 30px;
    font-weight:bold;
    color: rgb(7, 6, 3);
    cursor: pointer;
    position: relative;
}

.child2 button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    transition: 2s;
    background-color: #C6006B;
    overflow: hidden;
    font-size:large;
    line-height: 40px;
}

.child2 button:hover span{
    width: 100%;
} 

.child3 {
    width: 500px;
    height: 300px;
    background-color:#0F1910;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child3 h2 {
    font-family: Century Gothic;
    font-size: 25px;
    color: white;
}

.child3 p {
    color: #D3D3D3;
    font-size: 18px;
    text-align:center;
}

.child3 p span {
    display: inline-block;
    color: #E32C89;
 
}


.child3 div img {
    width: 70px;
    border-radius: 25px;
    margin: 5px;
    padding: 15px;
    background-color: #3D3D3D;
}

#lastimg {
    background-color: #E32C89;
}



/* section 2 */

#section2 {
    width: 100%;
    margin: 20px 0;
    background-color: #552f2f4d;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#titleSection2 {
    display: inline-block;
    width: 100%;
    font-size: 80px;
    font-family:cursive;
    text-align: center;
    color: white;
}

#flowerContent {
    width: 33%;
    text-align: center;
}

#flower {
    border-radius: 80px;
    width: 300px;
}

#cum span  {
    display: inline-block;
    width: 150px;
    font-size: 30px;
    color: white;
}

#addToCard {
    width: 200px;
    height: 40px;
    border-radius: 70px;
    border: 1px solid black;
    background-color: #E32C89;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}


















/* section 3 */
#section3 {
    background-image: url(../mainShop//imagine/section3img.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#section3 span{
    padding:20px 50px;
    display: inline-block;
    width: 100%;
    text-align:start;
    color: white;
    font-size: 50px;
    font-style: italic;
}


#section3 p {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-style: oblique;
}


#section3 p span {
    font-size: 20px;
    width: 400px;
    text-align: center;
    padding: 0px;
}




/* footer */

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: slategray;
    flex-wrap: wrap;
}

#footerdiv{
    width: 25%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


#footerdiv :nth-child(1){
    font-size: 25px;
    color: yellow;
}

#pfooter{
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    display: flex;
    justify-content:center;
}

#pfooter img{
    width: 30px;
} 



@media screen and (max-width:1250px) {
  
}


@media screen and (max-width:950px) {
    /* header */
    #nav > ul{
        display: flex;
        justify-content: flex-end;
        width: 365px;
    }

    #Logo{
        font-size: 40px;
    }
  
    /* section 1 */
    #one-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #child1 h2 {
        display: block;
        font-size: 22px;
    }
    .child3 {
        width: 100%;
    }
    .child2 h2 {
       display: none;
    }

    /* section 2 */
  
    #flowerContent {
        width: 50%;
    }




    /* section 3 */
    #section3 span {
        font-size: 25px;
    }

    #section3 {
        background-image: url(../mainShop//imagine/section3img.png);
        background-position:center;
        background-size:1000px;
        background-repeat: no-repeat;
    }
    /* footer */
    #footerdiv{
        width: 50%;
    }
}

@media screen and (max-width:650px) {
    /* header */
    #Logo{
        font-size: 30px;
    }
    #nav{ 
        padding:20px 10px ;
    }

    #nav > ul{
        width: 105px;
    }

    #nav > ul >li{
        display: none;
    }

    #menuicon{
        width: 30px;
        height: 30px;
        display:block;
    }

    #centrtextdiv h1 {
        color: lightcyan;
        font-size: 65px;
        letter-spacing: 0px;
    }

    .line{
        width: 12%;
    }

    .icon{
        margin: 40px 0px 0px;
        display: block;
    }



    /* section 1 */
    #child1 {
        height: 300px;
    }

    #child1 h2 {
        font-size: 22px;
    }

    .child2 {
        height: 300px;
    }

    .child2 p {
        font-size: 15px;
    }

    .child2 button {
        width: 160px;
        height: 40px;
        font-size: 15px;
        padding: 0px 0;
        

    }

    .child2 button span{
        line-height: 17px;
    }

    .child3 {
        height: 300px;
    }

    .child3 div img {
        width: 50px;
    }


    /* section 2 */
    #flowerContent {
        width: 100%;
    }
}


@media screen and (max-width:500px) {


    /* section 2 */
    
    #titleSection2 {
        font-size: 40px;
    }

    #flower {
        width: 200px;
    }

    #cum span  {
        width: 100px;
        font-size: 20px;
    }



    /* section 3 */
    #section3 span {
        font-size: 20px;
    }
    /* footer */
    #footerdiv{
        width: 100%;
        margin-top: 20px;
    }
    #footer{
        height: 100%;
    }
    #footer :last-child{
        margin-bottom: 20px;
    }
}













